<?xml version="1.0" encoding="UTF-8" ?>
<config>
    <context name="contacts">
        <emails>markus.tyni@relexsolutions.com</emails>
    </context>

    <context name="original">
        <file>
            <type>ORIGINAL</type>
            <pattern date="today">^Kaytettavatoimittaja_with_location_zero$YYYY-MM-dd$.*.csv$</pattern>
            <pattern date="today">^Toimituskalenteri_$YYYY-MM-dd$.*.csv$</pattern>
            <pattern date="today">^Kategoria_$YYYY-MM-dd$.*.csv$</pattern>
            <pattern date="today">^Paatoimituspaivat_$YYYY-MM-dd$.*.csv$</pattern>
            <pattern date="today">^Esillepanoryhma_$YYYY-MM-dd$.*.csv$</pattern>
            <pattern date="today">^Vakiotilaus_$YYYY-MM-dd$.*.csv$</pattern>
            <pattern date="today">^Tilausluokka_$YYYY-MM-dd$.*.csv$</pattern>
            <pattern date="today">^Tilausluokka_with_location_zero_$YYYY-MM-dd$.*.csv$</pattern>
            <pattern date="today">^Menekinohjaus_Tuote_$YYYY-MM-dd$.*.csv$</pattern>
            <pattern date="today">^Menekinohjaus_Kategoria_$YYYY-MM-dd$.*.csv$</pattern>
            <pattern date="today">^Tankkauspohja_Tuote_$YYYY-MM-dd$.*.csv$</pattern>
            <pattern date="today">^Tankkauspohja_Epr_$YYYY-MM-dd$.*.csv$</pattern>
            <pattern date="today">^Poikkeavat_PaatoimPaivat_Pvmrajaus_$YYYY-MM-dd$.*.csv$</pattern>
            <pattern date="today">^Poikkeavat_Paatoimituspaivat_$YYYY-MM-dd$.*.csv$</pattern>
            <pattern date="today">^Transaction_Update_Open_Orders_$YYYY-MM-dd$.*.csv$</pattern>
            <pattern date="today">^Manuaaliset_Menekkikorjaukset_$YYYY-MM-dd$.*.csv$</pattern>
            <pattern date="today">^Pysaytykset_Kategoria_$YYYY-MM-dd$.*.csv$</pattern>
            <pattern date="today">^Pysaytykset_Tuote_$YYYY-MM-dd$.*.csv$</pattern>
            <pattern date="today">^Ennakkotilaus_$YYYY-MM-dd$.*.csv$</pattern>
        </file>
    </context>

    <context name="processed">
        <file>
            <type>MESSAGE</type>
            <pattern date="today">^Luka_Timestamp_Update_$YYYY-MM-dd$.*.csv$</pattern>
            <pattern date="today">^Customer_Martti_Org_Update_$YYYY-MM-dd$.*.csv$</pattern>
            <pattern date="today">^Location_Update_$YYYY-MM-dd$.*.csv$</pattern>
            <pattern date="today">^Effective_Supplier_Update_$YYYY-MM-dd$.*.csv$</pattern>
            <pattern date="today">^Delivery_Calendar_Group_Update_$YYYY-MM-dd$.*.csv$</pattern>
            <pattern date="today">^Changed_Order_Time_Update_$YYYY-MM-dd$.*.csv$</pattern>
            <pattern date="today">^Product_Location_Update_Tilausvalikoima_$YYYY-MM-dd$.*.csv$</pattern>
            <pattern date="today">^Order_Assortment_Update_$YYYY-MM-dd$.*.csv$</pattern>
            <pattern date="today">^Customer_Org_Epr_Control_Info_Update_$YYYY-MM-dd$.*.csv$</pattern>
            <pattern date="today">^Product_Location_Update_Tilaustapa_$YYYY-MM-dd$.*.csv$</pattern>
            <pattern date="today">^Category_Update_$YYYY-MM-dd$.*.csv$</pattern>
            <pattern date="today">^Product_Update_$YYYY-MM-dd$.*.csv$</pattern>
            <pattern date="today">^Product_Location_Update_Tilausparametrit_$YYYY-MM-dd$.*.csv$</pattern>
            <pattern date="today">^Customer_Toimituspakkau_Update_Tilausparametrit_$YYYY-MM-dd$.*.csv$</pattern>
            <pattern date="today">^Supplier_Update_$YYYY-MM-dd$.*.csv$</pattern>
            <pattern date="today">^Customer_Esillepanoryhma_Update_$YYYY-MM-dd$.*.csv$</pattern>
            <pattern date="today">^Product_Update_MyyntiEAN_$YYYY-MM-dd$.*.csv$</pattern>
            <pattern date="today">^Product_Update_Tavararyhma_$YYYY-MM-dd$.*.csv$</pattern>
            <pattern date="today">^Transactions_Delivery_Update_$YYYY-MM-dd$.*.csv$</pattern>
            <pattern date="today">^Manual_Product_Replacement_Update_$YYYY-MM-dd$.*.csv$</pattern>
            <pattern date="today">^Chain_Assortment_Update_$YYYY-MM-dd$.*.csv$</pattern>
            <pattern date="today">^Transactions_Impulse_Update_$YYYY-MM-dd$.*.csv$</pattern>
            <pattern date="today">^Product_Organisation_Update_Menekinohjaus_$YYYY-MM-dd$.*.csv$</pattern>
            <pattern date="today">^Product_Organisation_Update_Tankkauspohja_$YYYY-MM-dd$.*.csv$</pattern>
            <pattern date="today">^Product_Organisation_Update_Pysaytykset_$YYYY-MM-dd$.*.csv$</pattern>
            <pattern date="today">^Order_Parameter_Update_corrected_MYY_$YYYY-MM-dd$.*.csv$</pattern>
            <pattern date="today">^Order_Parameter_Update_corrected_PAL_$YYYY-MM-dd$.*.csv$</pattern>
            <pattern date="today">^Order_Parameter_Update_corrected_LAV_$YYYY-MM-dd$.*.csv$</pattern>
            <pattern date="today">^Product_Update_Mitat_$YYYY-MM-dd$.*.csv$</pattern>
            <pattern date="today">^Fill_Exception_Update_$YYYY-MM-dd$.*.csv$</pattern>
            <pattern date="today">^Special_Main_Delivery_Date_Exception_Update_$YYYY-MM-dd$.*.csv$</pattern>
        </file>
    </context>

    <context name="balance">
        <file>
            <type>ORIGINAL</type>
            <pattern date="yesterday">^Saldo_$YYYY-MM-dd$.csv$</pattern>
        </file>
    </context>

    <context name="sales">
        <file>
            <type>MESSAGE</type>
            <pattern date="today">^Transactions_Impulse_Update_$YYYY-MM-dd$_RELEX_TAHTI_MyynnitHavikit.csv$</pattern>
        </file>
    </context>

    <context name="logs">
        <include>commons.config</include>
        <checklog>KERNEL_LOG</checklog>
        <checklog>JOB_LOG</checklog>
        <checklog>ADAPTER_RUN_LOG</checklog>
    </context>
<context name="topsiCriticalBalance1">
            <contact><emails>ola.lansman@relexsolutions.com;markus.tyni@relexsolutions.com;leena.lintunen@relexsolutions.com</emails></contact>
            <mailSubject>[Market PT RELEX TEST] Topsi checker for Market PT RELEX critical balances files</mailSubject>
            <mailBody>
Two files of Saldo_* have not arrived in RELEX by the checker time at 06:30 EET.
These are critical files, but the nightly run will continue without them. Balance transactions are needed daily, but the file should only be sent once for data integrity. Please follow the instructions below.

1. Ask Market Sovellustuki to notify the users that nightly run will be incomplete:
Receivers: Market PT Relex end user distribution list
Header: Market PT RELEX saldodata puuttuu
Message: Saldodata ei ole saapunut Market PT RELEXiin ja yöajon on jatkunut ilman sitä. Uusimmat saldot eivät ole olleet laskennassa mukana RELEXissä. Laskentaan saldojen puuttuminen ei kuitenkaan ole vaikuttanut merkittävästi.
2. Check from Martti if the files have been sent.
3. If the files have been sent before the checker time, contact Tiedonsiirto.fi/Capgemini.com for possible issues in file transfer. 
4. If the files are not sent from Martti, investigate why and resend the files if required. Do not resend anything on Saturday or Sunday. All missed files can be send on Monday after 8:00 EET.
5. The files are needed even though they are late. Inform RELEX support when the files are sent, so they can read them in manually.  Files should not be sent after 14:00 EET, since there is not always time to
read these in and leaving the files for the next nightly run is not advisable. If extra balance files are left for the next nightly run, it does not affect data, but will significantly slow down nightly run often to the point where users are not able to use system in the morning
            </mailBody>
            <file>
                <path>/opt/apps/processor-sok-pt-simulator-test/shared/data/messages/processed/</path>
                <pattern date="today">Transactions_Impulse_Update_Saldo_$yyyyMMdd$_*</pattern>
                <minCount>2</minCount>
            </file>
       </context>

        <context name="topsiCriticalSales1">           
<contact><emails>ola.lansman@relexsolutions.com;markus.tyni@relexsolutions.com;leena.lintunen@relexsolutions.com</emails></contact>
            <mailSubject>[MARKET PT RELEX TEST] Topsi checker for Market PT RELEX critical sales and spoilage files</mailSubject>
            <mailBody>
Two files of RELEX_TAHTI_MyynnitHavikit have not arrived in RELEX by the checker time at 06:30 EET.
These are critical files, but the nightly run will continue without them. Sales transactions are needed daily, but the files should only be sent once for data integrity. Please follow the instructions below. 

1. Ask Market Sovellustuki to notify the users that nightly run will be incomplete:
Receivers: Market PT Relex end user distribution list
Header: Market PT RELEX myyntidata puuttuu
Message: Myyntidata ei ole saapunut Market PT RELEXiin ja yöajon on jatkunut ilman sitä. Uusimmat saldot eivät ole olleet laskennassa mukana ja uusimmat myynnit eivät ole tarkasteltavissa RELEXissä. Laskentaan saldojen puuttuminen ei kuitenkaan ole vaikuttanut merkittävästi.
2. Check from Tahti if the files have been sent.
3. If the files have been sent before the checker time, contact Tiedonsiirto.fi/Capgemini.com for possible issues in file transfer. 
4. If the files are not sent from Tahti, investigate why and resend the files if required. Do not resend anything on Saturday or Sunday. All missed files can be sent on Monday after 8:00 EET.
5. The files are needed even though they are late. Inform RELEX support when the files are sent, so they can read them in manually.  Files should not be sent after 14:00 EET, since there is not always time to read these in and leaving the files for the next nightly run is not advisable. If they are left to the next nightly run, they should only be once in RELEX or sales will be doubled.
            </mailBody>
            <file>
                <path>/opt/apps/processor-sok-pt-simulator-test/shared/data/messages/processed/</path>
                <pattern date="yesterday">Transactions_Impulse_Update_$yyyy-MM-dd$_RELEX_TAHTI_MyynnitHavikit_*</pattern>
                <minCount>2</minCount>
            </file>
        </context>

    <context name="topsiCriticalSales1">
    <contact><emails>ola.lansman@relexsolutions.com;teemu.huomo@relexsolutions.com</emails></contact>
    <mailSubject>[MARKET PT RELEX TEST] Delivery checker</mailSubject>
    <mailBody>
Testing of Relex PT Delivery checkers
    </mailBody>
    <file>
    <path>/opt/apps/processor-sok-pt-simulator-test/shared/data/messages/processed/</path>
    <pattern date="yesterday">Transactions_Delivery_Update_MARTTITOIMITUS.MARTTI.PTRELEX.$yyyy-MM-dd$_*</pattern>
    <minCount>2</minCount>
    </file>
    </context>
</config>
